<!-- Generated template for the GroupsComponent component -->
<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img float-left alt="logo" height="30" src="assets/imgs/axar_wide.png"> Groups
                    </ion-col>
                    <ion-col>
                        <img float-right height="30" src="assets/imgs/home.png" (click)="goBackHome()">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div padding>
        <div>
            <div padding>
                Click Child to see Calendar
            </div>
            <ion-row *ngIf="kidList; else loading">
                <button ion-button block id="list-row" *ngFor="let item of kidList let odd=odd; let even=even" [ngClass]="{ odd: odd, even:even}" (click)="goToShowKidClasses(item)">
                <div >{{ item.kidName }} - {{ item.groupName}} </div>

              </button>


            </ion-row>
        </div>

        <div>
            <ng-template #loading>
                <ion-spinner name="bubbles">Loading Groups...</ion-spinner>
            </ng-template>
        </div>


    </div>








</ion-content>